{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],

  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
